<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <div class="container">
        <%- include("navbar")%>
    <img src="https://media.istockphoto.com/photos/book-gives-picture-id148963161" alt="Book Exchange">
    <h1>ABOUT</h1>
    <h4>ForBooks is a platform where booksellers and readers connect to find and share books about business. Our aim is to create a book-exchange community of entrepreneurs.<br> 

        Founded in 2019.</h4>
    </div>
</body>
</html>