<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <img src="https://media.istockphoto.com/photos/book-gives-picture-id148963161" alt="Book Exchange">
    <h1>ABOUT</h1>
    <h4>ForBooks is a platform where booksellers and readers connect to find and share books about business. Our aim is to create a book-exchange community of entrepreneurs.<br> 

        Founded in 2019.</h4>
</body>
</html>