<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    
        <%- include("navbar")%>
        <div class="container">
        <img src="https://media.istockphoto.com/photos/book-gives-picture-id148963161" alt="Book Exchange">
        <div class="mt-4">
                <div class="jumbotron">
                        <h1 class="display-4">ABOUT</h1>
                        <p class="lead">ForBooks is a platform where booksellers and readers connect to find and share books about business. Our aim is to create a book-exchange community of entrepreneurs.</p>
                        <hr class="my-4">
                        <p>Found in 2019</p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                      </div>
    
    </div>
</div>
</body>
</html>