<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Service</title>
</head>
<body>
    <%- include("navbar")%>
    <div class="container mt-5">
    <h3>ForBooks facilitates fundamentally the movement of goods from suppliers to customers. On this page, we discuss the services and benefits of forbooks on vendors and customers.</h2>
    <br/>
    <h2>For Vendores</h2>
    <p>ForBooks helps vendors sell books on the Internet. We offer an ideal classified development to make your digital business and improve your global presence.</p>

    <h2>For Customers</h2>
    <p>ForBooks helps customers buy books on the Internet. We offer variety of unique and exclusive books.</p>
    </div>
</body>
</html>
