<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team</title>
</head>
<body>
    <%- include("navbar")%>
    <div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
                <div class="card" style="width: 75%;">
                        <img src="https://www.glamourparis.com/uploads/images/thumbs/201913/03/_captain_marvel____et_si_l___h__ro__ne___tait_en_fait_lesbienne___2921.jpeg_north_414x736_transparent.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Dalal</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                    </div>
        <div class="col-md-4">
                <div class="card" style="width: 95%;">
                        <img src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/a/a4/ProfHulkAvengersEndgamelicensingart001.jpg/revision/latest?cb=20190506122658" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Hussain</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
        </div>
        <div class="col-md-4">
                <div class="card" style="width: 100%;">
                        <img src="https://i.pinimg.com/236x/97/bf/27/97bf27becd0df4ff387b882572925416.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h2 class="card-title">Muhammad</h2>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
        </div>
        </div>

    </div>
    

</body>
</html>



